@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.clear{clear:both;}

article, footer {
	border: 1px solid red;
	height: 300px;
}





/*---header---*/
header{/* border:1px solid blue; */
	height: 50px;
	margin: 0px;
	padding: 0px;
	box-sizing:boarder-box;
	/*float:left;*/
	}

.title_logo{
	position:absolute;
	top:10px;
	left:10px;
}	


/*이용권구매*/
.pay{
	background-color: #ffffff;
    color: #333;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: absolute;
    right: 10px; top:5px;
}

.pay>a{
	text-decoration: none;
	font-weight: bold;
}	

.pay>a:LINK, .pay>a:VISITED{
	color:#333;
}

.pay a:HOVER{
	color:#ff8000;
}


/*유저정보*/
.dropbtn1 {
    background-color: #ffffff;
    color: #333;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: bold;
}

.myinfo {
    position: absolute;
    right:150px; top:10px;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: #333;
    font-family:sans-serif;
	text-align:center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover {background-color: #ddd}

.myinfo:hover .dropdown-content1 {
    display: block;
}

.myinfo:hover .dropbtn1 {
    color: #ff8000;
}




/*메인Navigation*/
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  /* font-family: Arial; */
/*   position: relative;
  top:80px; */
  margin-top: 80px;

}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 22px;
  text-transform: uppercase;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ff8000;
  color: #333;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #333;
  font-family:sans-serif;
  text-align:center;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.vip{
	height: 49px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 32px;
}

.navbar .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .navbar .search-container {
    float: none;
  }
  .navbar a, .navbar input[type=text], .navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;  
  }
}






/*---footer---*/


div.f_logo {
	width: 130px;
	height: 50px;
	margin: 30px 10px 30px 20px;
}

div.use {
	width: 240px;
	height: 30px;
	margin: 10px 20px;
	padding: 5px 5px;
	float: left;
}

div.sns {
	width: 240px;
	float: right;
	position: relative;
	bottom: 100px;
	right: 100px;
	padding: 5px;
}

div.sns img {
	margin-right: 10px;
}

div.use a {
	text-decoration: none;
	color: #000;
}

div.explain {
/* 	border: 1px solid red; */
	margin: 10px 20px;
	padding: 5px 5px;
	width: 560px;
}


